In [12]:
import pandas as pd

In [13]:
response = pd.read_csv("/Users/dennisvanelten/instrument-response/famous-parameterization-simulation.csv", index_col = 0)

In [14]:
from eventio import IACTFile

In [15]:
f = IACTFile("/Users/dennisvanelten/Desktop/iceact/1_gamma_1.dat")

In [16]:
event = f[0]
event.header.total_energy #gibt die total_energy des Schauers in der .dat-Datei an (hier ca. 7 TeV)
event.photon_bunches[0].shape #gibt das Format an (hier etwa 4,2 Mio produzierte Photonen)

(4234814,)

In [17]:
photons = event.photon_bunches[0]

In [18]:
import numpy as np

In [19]:
r = np.sqrt(photons['x']**2 + photons['y']**2)
mask = r < 25.35
selected_photons = photons[mask]
#len(selected_photons)

In [20]:
import random

In [21]:
np.random.shuffle(selected_photons)
#selected_photons #gibt Photonen an, die innerhalb des Kreises (Detektor) liegen (hier: 38), aber random reihenfolge

In [22]:
from scipy.spatial import KDTree

In [23]:
tree = KDTree(response[['u', 'v']].values)

In [24]:
distances, indices = tree.query(np.column_stack([selected_photons['cx'], selected_photons['cy']]))

In [25]:
array = distances, indices
array

(array([ 0.00196618,  0.00262121,  0.00134578,  0.00029361,  0.00210569,
         0.0018021 ,  0.00086056,  0.00245138,  0.00186337,  0.0020065 ,
         0.00194275,  0.002217  ,  0.0013365 ,  0.00230328,  0.00227258,
         0.00116499,  0.00166822,  0.0014336 ,  0.00248224,  0.00232896,
         0.00226921,  0.00044485,  0.00237993,  0.00067515,  0.0024937 ,
         0.0008076 ,  0.00122817,  0.00200096,  0.00152909,  0.00091577,
         0.0019179 ,  0.00196179,  0.0018415 ,  0.00161201,  0.00113698,
         0.00112329,  0.00108397,  0.00222609]),
 array([ 21,  36,  76, 344,  35,  20,  20, 299,  20,  77,   9,   2,  54,
         20,   9,  11,  10,  20, 898,  21, 539,  54,   2,   2, 350,  20,
         77,  20,   3,  10,   9,   9,   9,  10,  20,  77, 135,   3]))

In [26]:
response.head(5)

,phi,t_sipm,t_sipm_0,t_sipm_1,t_sipm_10,t_sipm_11,t_sipm_12,t_sipm_13,t_sipm_14,t_sipm_15,...,t_sipm_52_error,t_sipm_53_error,t_sipm_54_error,t_sipm_55_error,t_sipm_56_error,t_sipm_57_error,t_sipm_58_error,t_sipm_59_error,t_sipm_error,t_sipm_60_error
0,0.785398,0.0787,0.0633,0.0042,0.0000,0.0,0.0,0.0,0.0000,0.0000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000141
1,2.356194,0.0775,0.0639,0.0000,0.0000,0.0,0.0,0.0,0.0001,0.0001,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
2,3.926991,0.0773,0.0634,0.0000,0.0001,0.0,0.0,0.0,0.0000,0.0000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000100
3,5.497787,0.0746,0.0608,0.0050,0.0001,0.0,0.0,0.0,0.0000,0.0000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
4,0.392699,0.0814,0.0550,0.0144,0.0000,0.0,0.0,0.0,0.0000,0.0000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000

In [27]:
response.iloc[[2]] #die komplette zweite Reihe ausgeben

,phi,t_sipm,t_sipm_0,t_sipm_1,t_sipm_10,t_sipm_11,t_sipm_12,t_sipm_13,t_sipm_14,t_sipm_15,...,t_sipm_52_error,t_sipm_53_error,t_sipm_54_error,t_sipm_55_error,t_sipm_56_error,t_sipm_57_error,t_sipm_58_error,t_sipm_59_error,t_sipm_error,t_sipm_60_error
2,3.926991,0.0773,0.0634,0.0,0.0001,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0001

In [28]:
response_first_col = response.iloc[:1,2:63]     #bestimmte Elemente der zweiten Reihe ausgeben 
response_first_col

,t_sipm_0,t_sipm_1,t_sipm_10,t_sipm_11,t_sipm_12,t_sipm_13,t_sipm_14,t_sipm_15,t_sipm_16,t_sipm_17,...,t_sipm_55,t_sipm_56,t_sipm_57,t_sipm_58,t_sipm_59,t_sipm_6,t_sipm_60,t_sipm_7,t_sipm_8,t_sipm_9
0,0.0633,0.0042,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0001,0.0,0.0,0.0,0.0,0.0,0.0002,0.0,0.0,0.0001

In [29]:
random_sipm = response_first_col.sample(n=1,axis=1)  #aus der Reihe Element samplen, wird nicht wiederholt, n=1:61 (Anzahl SiPM's)
random_sipm

   t_sipm_2
0       0.0

In [30]:
sipm_value = random_sipm.iloc[0][0] #value of cell
sipm_value

0.0

In [31]:
col_name = list(random_sipm.columns.values)
col_name

['t_sipm_2']

In [32]:
random_sipm.iloc[0][: 't_sipm_{}']   #gibt Informationen der Zelle an: row, col, value

t_sipm_2    0.0
Name: 0, dtype: float64